* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    background-color: #1f1f1f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #00e0b3;
}

.nav-menu a {
    margin-left: 20px;
    font-size: 1em;
    transition: color 0.2;
}

.nav-menu a:hover {
    color: #00e0b3;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
}

.controls-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 20px;
    background-color: #121212;
    flex-wrap: wrap;
}

.search_input,
.filter-dropdown {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #444;
    background-color: #2c2c2c;
    color: #ffffff;
    font-size: 1em;
    width: 100%;
}

.filter-dropdown {
    width: auto;
    cursor: pointer;
}

.main-content {
    padding: 20px;
}

.lista-filmes {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
}

.card-filme {
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card-filme:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.poster-filme {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 2/3;
}

.avaliacao {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
}

.card-detalhes {
    padding: 15px;
}

.titulo-filme {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #f0f0f0;
}

.botao-adicionar {
    background-color: #00e0b3;
    color: #1f1f1f;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.botao-adicionar:hover {
    background-color: #00e0b3;
}

@media (max-widht: 768px) {
    .nav-menu a {
        display: none;
    }

    .menu-toggle {
        display: block;
    }


}